body {
  background-color: #262626;
  color: #fff;
  text-align: center;
}

/* HeaderNavBar */

.container-fluid {
  padding: 0 15px;
  background-color: #262626;
}

/* Title */

.titulo1 {
  height: 300px;
  text-align: center;
  padding-top: 120px;
}

/* Title Buttons */

.solid {
  background-color: #5c6bcf;
}

.hollow {
  color: #5c6bcf;
  border-color: #5c6bcf;
}

/* skills */

.col-lg-4 {
  border-width: thin;
  border-style: solid;
  text-align: left;
  padding-top: 0.5rem;
}

ul li: :first-of-type {
  list-style-type: <i class= "fa-solid fa-arrow-right" >;
}
